@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:300,400,500,700');


* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font: 16px/27px 'Raleway', sans-serif;
	color: black;
	background-image: url(images/Песчаный-пляж.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.wrapper {
	width: 1200px;
	padding: 0 27px;
	margin: 0 auto;
}

/* header */
.header {
	box-shadow: 0 0 20px #03a9f4;
	margin-bottom: 70px;
	background-color: #fff;

}

.logo {
	display: inline-block;
	vertical-align: middle;
}

.menu {
	display: inline-block;
	vertical-align: middle;
	margin-left: 164px;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li {
	display: inline-block;
}

.menu a {
	color: #3c3c3c;
	font: 18px/30px "Playfair Display", serif;
	text-decoration: none;
	display: block;
	padding: 35px 20px;
}

.menu a:hover {
	background-color: #03a9f4;
	color: #fff;
	transition: 0.9s;
	transform: scale(1.10, 1.10);
}

.social {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 76px;
	padding: 0;
	list-style-type: none;

}

.social li {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

.social li:not(:last-child) {
	margin-right: 15px;
}

.social a {
	display: block;
	width: 32px;
	height: 32px;
	background-color: #fff;
	border: 2px solid #03a9f4;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.social a:hover {
	background-color: #03a9f4;
	transition: 0.9s;
	transform: scale(1.10, 1.10);
}

.facebook a {
	background-image: url(images/facebook.png);
}


.instagram a {
	background-image: url(images/instagram.png);
}

/* section promo */
.about {
	margin-bottom: 100px;
}

h1 {
	margin: 0 0 60px;
	color: #3c3c3c;
	font-size: 45px;
	font-weight: 500;
	line-height: 50px;
}

h1 span {
	font-weight: 300;
}


.promo img {
	float: left;
	margin-right: 28px;
	margin-top: 4px;
}

.promo p {
	font-family: "Playfair Display";
}

/* info section */
.info {
	background-color: #edf2f9;
}

.list {
	margin: 0;
	padding: 100px 0;
	list-style: none;
}

.list li {
	display: inline-block;
	vertical-align: top;
	
	width: 23%;
	text-align: center;
}

.list li:not(:first-child) {
	margin-left: calc((100% - (23% * 4)) / 3);
}

.list h3 {
	color: #3c3c3c;
	font-size: 20px;
	font-weight: 500;
	line-height: 50px;
}

.comment{
	width: 70px;
	height: 70px;
	margin-left: 98px;
	border-radius: 49px; 
}

#com1 {
	background-image: url(images/comm2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#com2 {
	background-image: url(images/comm1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#com3 {
	background-image: url(images/comm3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#com4 {
	background-image: url(images/comm4.JPG);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.europ {
	background: #e2574c;
	display: inline-block;
	width: 500px;
	height: 400px;
	text-align: center;
	font-size: 25px;
	color: #2b2323;
	margin: 10px;
	border-radius: 90px;
}

#gb {
	background: url(images/GB.jpg) 100% 100% no-repeat;
	background-size: cover;
	transition: 0.4s;	
}

.hov:hover{
	transform: scale(1.10, 1.10);
}

#tur {
	background: url(images/tur.jpg) 100% 100% no-repeat;
	background-size: cover;
	transition: 0.4s;
}

#gr {
	background: url(images/Greece.jpg) 100% 100% no-repeat;
	background-size: cover;
	transition: 0.4s;
}

#fr {
	background: url(images/francc.jpg) 100% 100% no-repeat;
	background-size: cover;
	transition: 0.4s;
}

#it {
	background: url(images/Flag-Italii.jpg) 100% 100% no-repeat;
	background-size: cover;
	transition: 0.4s;
}

#isp {
	background: url(images/ispa.jpg) 100% 100% no-repeat;
	background-size: cover;
	transition: 0.4s;
}

.europ a {
	text-decoration: none;
	color: #2b2323;

}


